<template>
  <section class="countdown">
    <h4>And counting...</h4>
    <div class="countdown-time">
      {{days}} Days {{hours}} Hours {{minutes}} Minutes {{seconds}} Seconds
    </div>
  </section>
</template>

<script>
  export default {
    data() {
      return {
        now: Math.trunc((new Date()).getTime() / 1000),
        date: Math.trunc(Date.parse("8/4/2018") / 1000)
        }
    },
    computed: {
      seconds() {
        return (this.now - this.date) % 60
      },

      minutes() {
        return Math.trunc((this.now - this.date) / 60) % 60
      },

      hours() {
        return Math.trunc((this.now - this.date) / 60 / 60) % 24
      },

      days() {
        return Math.trunc((this.now - this.date) / 60 / 60 / 24)
      }
    },
    created() {
      window.setInterval(() => {
        this.now = Math.trunc((new Date()).getTime() / 1000)
    },1000)
    }
  };
</script>