.countdown
{
  box-sizing: border-box;
  background: $primary;
  // padding: 2rem 1rem;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  min-height: 40px;
  height: 15vh;
  max-height: 200px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.countdown-time
{
  display: flex;
  justify-content: center;
  align-items: center;
}