<template>
  <div>
    <section class="hero">
    <div>
      <h1>The Halls</h1>
      <h2>August 4th, 2018</h2>
    </div>
  </section>
  
  <countdown date="8/4/2018"></countdown>

  

  <section class="galery">
    <h2>Grace & Sterling</h2>

    <div class="gal-img">
      <div class="gal-left">
        <img src="/img/couple-1.jpg" class="img-fluid" alt="">
      </div>
      <div class="gal-right">
        <img src="/img/hands.jpg" class="img-fluid" alt="">
        <img src="/img/fly-you-fool.jpg" class="img-fluid" alt="">
      </div>
    </div>
  </section>

  <footer class="site-footer">
    <div class="inner">
      <p>&copy; 2017 - {{(new Date()).getFullYear()}}</p>
    </div>
  </footer>
  </div>
</template>

<script>
import Countdown from './components/countdown'


export default {
  data: () => ({
    amazonRegistry: 'https://www.amazon.com/wedding/grace-pedley-sterling-hall-chicago-august-2018/registry/2A5K83MSK5SK8',
    kohlsRegistry: 'https://www.kohls.com/upgrade/gift_registry/kohlsgrw_home.jsp?section=list&listid=3363892&viewtype=listview&isfromsearch=true&fname=grace&lname=pedley&regtype=registry.wedding,registry.baby,registry.splday',
  }),
  components: {
    Countdown
  },
  name: 'app'
}
</script>
